# Information Retrieval: Programming Assignment \#1

### Sheetal Parikh
EN.605.744.81<br>
September 7, 2021
***
***

## Source Code and Notes

In [1]:
#imports for notebook
import os 
import re
import nltk
import os
import string
import numpy as np
import pandas as pd
import re
import math
#import num2words
#pip install num2words

from bs4 import BeautifulSoup
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from collections import Counter
from nltk.stem import WordNetLemmatizer
#nltk.download('wordnet')

# change the current directory 
# to specified directory 
os.chdir(r"C:\Users\Sheetal\Documents\Sheetal\datasets") 

#checking current directory
#print(os.getcwd() + "\n")

#Read in file
#path1 = 'datasets/headlines.txt'
#path2 = 'datasets/yelp.txt'

In [2]:
#the raw text file includes HTML headings and tags - the function below will remove these tags

def cleanHtmlTags(raw_text):
    clean = re.compile('<.*?>')
    fixedText = re.sub(clean, '', raw_text)
    return fixedText

In [3]:
#this will open/close read the text file, clean the HTML tags, and copy the resulting data into a list

def openFile(textFile):
    content = []
    with open(textFile, "r") as f:
        for line in f:
            text = line.strip()
            cleantext = cleanHtmlTags(text)
            content.append(cleantext)
    return content

In [4]:
# copying the list into a dataframe so that it is easier to use

def createDataFrame(data):
    #removing extra spacing
    data = list(filter(None,data))
    
    #the dictionary column will contain the original wording of each document/paragraph
    df = pd.DataFrame(np.array(data), columns = ['dictionary'])
    return df

In [5]:
#will convert contractions into it's original word combination

def removeContractions(s):
    s = re.sub(r"can\'t", "can not",s)
    s = re.sub(r"couldn't", "can not",s)
    s = re.sub(r"won't", "will not",s)
    s = re.sub(r"\'ll", " will", s)
    s = re.sub(r"wouldn't", "would not",s)
    s = re.sub(r"\'d", "would",s)
    s = re.sub(r"\'s", " is", s)
    s = re.sub(r"\'re", " are", s)
    s = re.sub(r"\'ve", " have", s)
    s = re.sub(r"\'m", " am", s)
    s = re.sub(r"n\'t", " not", s)
    s = re.sub(r"\'t", " not", s)
    return s

In [6]:
#def stemming(data):
#    stemmer= PorterStemmer()
#    
#    tokens = word_tokenize(str(data))
#    new_text = ""
#    for w in tokens:
#        new_text = new_text + " " + stemmer.stem(w)
#    return new_text

In [7]:
#preprocessing data - making text all lowercase, removing contractions, removing punctuation, lemmatizing text
## each preprocessing step will add a column to the dataframe showing the updated text
###there is a column showing the text if stop words were removed - this column is not used other than for calculating
####the dictionary percentage in the function below

def preprocess(df):
    #lowercase
    df['fix_lowercase'] = df['dictionary'].apply(lambda x: " ".join(word.lower() for word in x.split()))
    
    #contractions
    df['fix_contractions'] = df['fix_lowercase'].apply(lambda x:removeContractions(x))
    
    #punctuation
    df['fix_punctuation'] = df['fix_contractions'].str.replace('[^\w\s]', '')
    
    #lemmatized
    lemmatizer = WordNetLemmatizer()
    df['lemmatized'] = df['fix_punctuation'].apply(lambda x: " ".join([lemmatizer.lemmatize(w) for w in nltk.word_tokenize(x)]))
    
    stop_words = stopwords.words('english')
    #df['num_stopwords'] = df['lemmatized'].apply(lambda x: len([word for word in x.split() if word in stop_words]))
    df['fix_stopwords'] = df['lemmatized'].apply(lambda x: " ".join(word for word in x.split() if word not in stop_words))

    return df

In [8]:
#adds the analysis steps as columns to the dataframe
##columns will contain the word count(after preprocessing), number of stopwords, number of unique words, and percentage
###of words in the document that are dictionary words(or unique words divided by the word count)

def analyze(df):
    stop_words = stopwords.words('english')
    
    #column for number of stopwords
    df['num_stopwords'] = df['lemmatized'].apply(lambda x: len([word for word in x.split() if word in stop_words]))
    
    #word count - using the final preprocessed text
    words = df['lemmatized'].str.lower().str.split()
    df['word_count'] = words.apply(len)
    
    #unique word count
    noStopWords = df['fix_stopwords'].str.lower().str.split()
    df['unique_words'] = noStopWords.apply(set).apply(len)
    
    #dictionary percentage or the % of unique words in the document
    percent_column = df['unique_words'] / df['word_count']
    df['dictionary_percentage'] = percent_column
    
    return df

In [9]:
def frequentWords(df):
    #getting a list of the total counts of each word in the preprocessed text - in descending order
    s = pd.Series(" ".join(df['lemmatized']).split()).value_counts()
    df1 = s.to_frame()
    
    #extracting the word from the index
    index = df1.index
    allWords = list(index)

    #extracting the total word count
    counts = df1.iloc[:,0]
    countsList = list(counts)
    
    #getting the document set
    set = df['lemmatized']
    
    #creating a dictionary of the words and word count which is then converted to a dataframe
    dict = {'Word': allWords, 'Word_Count': countsList} 
    df_dict = pd.DataFrame(dict)
    
    #calculating the number of documents each word is found in and saving the word and document count to dictionary DocFreq
    wordsets = [ frozenset(document.split(' ')) for document in set ]
    DocFreq = {}
    for i in range(len(wordsets)):
        tokens = wordsets[i]
        for w in tokens:
            try:
                DocFreq[w].add(i)
            except:
                DocFreq[w] = {i}
    
    for i in DocFreq:
        DocFreq[i] = len(DocFreq[i])
    
    #organizing document frequency output into a dataframe
    df_DocFreq = pd.DataFrame(list(DocFreq.items()), columns=['Word', 'Document_Frequency'])
    df_output = df_DocFreq.sort_values(by='Document_Frequency', ascending = False)
    
    #merging results to the dataframe of total word counts using the word as the id
    df_final = pd.merge(df_output, df_dict, left_on = 'Word', right_on = 'Word', how ='left')
    
    return df_final

In [10]:
#displaying other stats of documents: total words, total unique words, total paragraphs, 500th word, 1000th word,5000th word

def calcStats(df):
    #total paragraphs/dictionaries processed
    total_paragraphs = len(df.index)
    
    #total words after proprocessing
    total_words = df['word_count'].sum()
    
    #total unique words
    total_unique = df['unique_words'].sum()
    
    #500th word
    fivehund = pd.Series(" ".join(df['lemmatized']).split()).value_counts()[499:500].index[0]
    df_500 = df[df['lemmatized'].str.contains(fivehund)]
    
    #1000th word
    thousand = pd.Series(" ".join(df['lemmatized']).split()).value_counts()[999:1000].index[0]
    df_1000 = df[df['lemmatized'].str.contains(thousand)]
    
    #5000th word
    fivethou = pd.Series(" ".join(df['lemmatized']).split()).value_counts()[4999:5000].index[0]
    df_5000 = df[df['lemmatized'].str.contains(fivethou)]
    
    #display results
    print(f'Total Paragraphs: {total_paragraphs}')
    print(f'Total Words: {total_words}')
    print(f'Total Unique Words: {total_unique}')
    print(f'500th Most Frequent Word: {fivehund}, # of times Seen: {len(df_500)}')
    print(f'1000th Most Frequent Word: {thousand}, # of times Seen: {len(df_1000)}')
    print(f'5000th Most Frequent Word: {fivethou}, # of times Seen: {len(df_5000)}')

In [11]:
#from IPython.display import display
#def displayMostFrequent(df):
#    with pd.option_context('display.max_rows', 100, 'display.max_columns', None):
#        print("The 100 most frequent words: ")
#        display(df)

In [12]:
#displaying the word, document frequency and word count filtered by a specific document frequency
def documentFreq(df, x):
    df_mask=df['Document_Frequency']== x
    filtered_df = df[df_mask]
    return filtered_df

### Yelp Results

In [13]:
content = openFile("yelp.txt")

In [14]:
df_yelp = createDataFrame(content)
df_yelp = preprocess(df_yelp)

In [15]:
df_yelp = analyze(df_yelp)
df_yelp

,dictionary,fix_lowercase,fix_contractions,fix_punctuation,lemmatized,fix_stopwords,num_stopwords,word_count,unique_words,dictionary_percentage
0,Seen this restaurant on 25 best places in Pitt...,seen this restaurant on 25 best places in pitt...,seen this restaurant on 25 best places in pitt...,seen this restaurant on 25 best places in pitt...,seen this restaurant on 25 best place in pitts...,seen restaurant 25 best place pittsburgh rick ...,32,68,34,0.500000
1,Grew up near here. the family would always go ...,grew up near here. the family would always go ...,grew up near here. the family would always go ...,grew up near here the family would always go o...,grew up near here the family would always go o...,grew near family would always go month stopped...,27,52,23,0.442308
2,I have never seen a restaurant that has a frow...,i have never seen a restaurant that has a frow...,i have never seen a restaurant that has a frow...,i have never seen a restaurant that has a frow...,i have never seen a restaurant that ha a frown...,never seen restaurant ha frowning brownie aka ...,163,338,131,0.387574
3,Stick to basics and this is the best place in ...,stick to basics and this is the best place in ...,stick to basics and this is the best place in ...,stick to basics and this is the best place in ...,stick to basic and this is the best place in o...,stick basic best place around burgh first time...,73,156,73,0.467949
4,I like the food at Denny's more than meals ser...,i like the food at denny's more than meals ser...,i like the food at denny is more than meals se...,i like the food at denny is more than meals se...,i like the food at denny is more than meal ser...,like food denny meal served pricier restaurant...,35,75,37,0.493333
...,...,...,...,...,...,...,...,...,...,...
8887,"Well, it's clear they are newly opened and the...","well, it's clear they are newly opened and the...","well, it is clear they are newly opened and th...",well it is clear they are newly opened and the...,well it is clear they are newly opened and the...,well clear newly opened staff working figure 2...,85,164,59,0.359756
8888,This place sucks! Wtf is this?! A fish Taco th...,this place sucks! wtf is this?! a fish taco th...,this place sucks! wtf is this?! a fish taco th...,this place sucks wtf is this a fish taco that ...,this place suck wtf is this a fish taco that i...,place suck wtf fish taco solely fish tortilla ...,133,246,82,0.333333
8889,I hope this place is just experiencing some hi...,i hope this place is just experiencing some hi...,i hope this place is just experiencing some hi...,i hope this place is just experiencing some hi...,i hope this place is just experiencing some hi...,hope place experiencing hiccup since openedbut...,51,121,59,0.487603
8890,Meh. I was less than impressed by my meal here...,meh. i was less than impressed by my meal here...,meh. i was less than impressed by my meal here...,meh i was less than impressed by my meal here ...,meh i wa le than impressed by my meal here it ...,meh wa le impressed meal cute concept sure goi...,61,123,53,0.430894
8891,Is give this place 0 stars if I could. Invent...,is give this place 0 stars if i could. invent ...,is give this place 0 stars if i could. invent ...,is give this place 0 stars if i could invent h...,is give this place 0 star if i could invent he...,give place 0 star could invent buddy work food...,22,50,27,0.540000

The table above summarizes much of the data that will be used for the calculations below.  The dictionary column is the original text and the subsequent 5 columns display the text changes after applying the normalization technique in the title. The lemmatized text was used for the calculations below.

In [16]:
calcStats(df_yelp)

Total Paragraphs: 8892
Total Words: 1286762
Total Unique Words: 541021
500th Most Frequent Word: girl, # of times Seen: 401
1000th Most Frequent Word: view, # of times Seen: 1108
5000th Most Frequent Word: remotely, # of times Seen: 10

In [17]:
df_yelp_freq = frequentWords(df_yelp)
#df_yelp_freq

In [18]:
df_yelp_100 = df_yelp_freq.head(100)

with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print("Top 100 Most Frequent Words: ")
    print(df_yelp_100)

Top 100 Most Frequent Words:
          Word  Document_Frequency  Word_Count
0          the                8530       65257
1          and                8273       41324
2            a                8045       39029
3            i                7631       37811
4           to                7425       27964
5           is                7104       25401
6           it                6884       22204
7          not                6543       17225
8           of                6501       19543
9          for                6272       14782
10          wa                6043       23347
11          in                5966       13861
12         but                5559       10988
13        this                5389       10146
14        have                5208       10295
15        that                5081       11955
16        with                4983       10426
17          my                4871       10234
18        food                4811        8062
19          on                4709        8744
20        they                4551        9356
21       place                4327        7105
22         you                4267        9719
23        good                4112        6747
24         are                4032        7253
25         had                3990        7190
26          at                3853        6410
27          so                3738        6348
28          be                3546        5384
29        were                3468        7066
30          we                3458       10171
31       there                3319        5285
32        like                3211        4891
33          if                3072        4493
34        just                3013        4516
35        here                2996        4108
36        will                2995        3951
37        time                2956        4331
38         out                2900        4203
39     service                2887        3560
40         all                2811        4122
41         one                2801        4092
42          do                2789        4072
43         get                2765        3949
44        very                2694        4057
45         can                2678        3770
46       great                2616        3668
47          go                2563        3332
48          me                2553        4023
49          or                2543        3662
50        when                2542        3566
51        from                2518        3454
52       would                2392        3482
53       their                2324        3674
54          am                2311        3221
55        back                2304        2990
56          up                2247        3107
57        what                2215        3001
58       about                2201        2985
59        some                2166        3015
60      really                2149        3105
61        been                2127        2779
62          an                2110        2757
63       which                2105        3055
64         did                2095        3033
65  restaurant                2092        3188
66        only                1993        2479
67       order                1952        2985
68         our                1933        3730
69          no                1922        2666
70     ordered                1883        2569
71        more                1871        2400
72       other                1771        2178
73         too                1764        2206
74          by                1753        2246
75        also                1744        2255
76     because                1670        2161
77        your                1670        2342
78        even                1650        2061
79         got                1595        2167
80        menu                1576        2127
81     chicken                1562        2558
82        than                1531        1844
83      little                1528        1982
84          ha                1527        1861
85        come                1519        1859
86        nice                1510        1910
87       after                1493        1901
88        well                1478        1858
89         try                1461        1732
90        best                1459        1745
91        them                1455        1923
92        much                1446        1745
93           u                1398        2258
94        make                1392        1730
95        went                1380        1619
96       price                1371        1636
97      pretty                1370        1765
98         eat                1360        1654
99      better                1323        1557

In [19]:
df_yelp_freq

               Word  Document_Frequency  Word_Count
0               the                8530       65257
1               and                8273       41324
2                 a                8045       39029
3                 i                7631       37811
4                to                7425       27964
...             ...                 ...         ...
34358  thingbecause                   1           1
34359      overhang                   1           2
34360      policing                   1           1
34361  experimented                   1           1
34362        invent                   1           1

[34363 rows x 3 columns]

In [20]:
filtered_df = documentFreq(df_yelp_freq, 1)

with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(f'Number of words with a document frequency of one: {len(filtered_df)}')
    print("")
    print(f' 100 words with a document frequency of one: ')
    print(filtered_df.head(100))

Number of words with a document frequency of one: 19716

 100 words with a document frequency of one:
                     Word  Document_Frequency  Word_Count
14647                1027                   1           1
14648             babelon                   1           3
14649          epitomizes                   1           1
14650         loudspeaker                   1           1
14651            moralize                   1           1
14652        amphitheater                   1           1
14653               yimmy                   1           1
14654             willies                   1           1
14655         implication                   1           1
14656            breathes                   1           1
14657             ruglach                   1           1
14658             phyllis                   1           1
14659              noches                   1           1
14660               hidef                   1           1
14661       problemschewy                   1           1
14662             admired                   1           1
14663           linethere                   1           1
14664           descended                   1           1
14665          producebut                   1           1
14666               harra                   1           2
14667          complaines                   1           1
14668            cemented                   1           1
14669             yalanji                   1           1
14670        noncustomers                   1           1
14671               foind                   1           1
14672    partycelebration                   1           1
14673         endorsement                   1           1
14674        burgercheese                   1           1
14675             whizzed                   1           1
14676     englishspeaking                   1           1
14677            railroad                   1           2
14678                mmmi                   1           1
14679              strada                   1           1
14680               masse                   1           1
14681    taiwanesechinese                   1           1
14682              calmly                   1           1
14683               aways                   1           1
14684            waternow                   1           1
14685               lidia                   1           1
14686            manzetti                   1           1
14687               undue                   1           1
14688              dayold                   1           1
14689             kingeat                   1           1
14690          torringdon                   1           2
14691           canceling                   1           1
14692             gearing                   1           1
14693          yesbecause                   1           1
14694       scotsinspired                   1           1
14695                 col                   1           1
14696              gifted                   1           1
14697            wedgwood                   1           2
14698               soild                   1           1
14699              hommos                   1           1
14700             richard                   1           1
14701                 tov                   1           1
14702               tweet                   1           1
14703          tapasstyle                   1           1
14704              naming                   1           1
14705           phosphate                   1           1
14706             stinkys                   1           4
14707              chcken                   1           1
14708               noosh                   1           1
14709            ghannouj                   1           1
14710            makeover                   1           1
14711        barnightclub                   1           1
14712                marj                   1           1
14713             restaff                   1           1
14714        recollection                   1           1
14715             dumbest                   1           1
14716              dishis                   1           1
14717            misplace                   1           1
14718              phobia                   1           1
14719              sarnie                   1           1
14720            eatenand                   1           1
14721      peoplereallydo                   1           1
14722          borenstein                   1           1
14723              capone                   1           1
14724            mehmaybe                   1           1
14725              buttah                   1           1
14726       documentation                   1           1
14727               sousa                   1           2
14728                hobo                   1           1
14729             oarsoja                   1           1
14730                fiji                   1           1
14731  thisistheplacetobe                   1           1
14732         philosopher                   1           1
14733             gunfire                   1           1
14734            aquafina                   1           1
14735      personalitydid                   1           1
14736              trance                   1           1
14737                nami                   1           2
14738          delibodega                   1           1
14739       experiencebut                   1           1
14740        bellyperfect                   1           1
14741             shopton                   1           1
14742        buyonegetone                   1           1
14743        respectfully                   1           1
14744          accidently                   1           1
14745              booboo                   1           1
14746            speeding                   1           1

### Headlines Results

In [21]:
content_2 = openFile("headlines.txt")

In [22]:
df_headlines = createDataFrame(content_2)
df_headlines = preprocess(df_headlines)

In [23]:
df_headlines = analyze(df_headlines)
df_headlines

,dictionary,fix_lowercase,fix_contractions,fix_punctuation,lemmatized,fix_stopwords,num_stopwords,word_count,unique_words,dictionary_percentage
0,Worcester breakfast club for veterans gives hu...,worcester breakfast club for veterans gives hu...,worcester breakfast club for veterans gives hu...,worcester breakfast club for veterans gives hu...,worcester breakfast club for veteran give hung...,worcester breakfast club veteran give hunger m...,2,10,8,0.800000
1,Jumpshot Gives Marketers Renewed Visibility In...,jumpshot gives marketers renewed visibility in...,jumpshot gives marketers renewed visibility in...,jumpshot gives marketers renewed visibility in...,jumpshot give marketer renewed visibility into...,jumpshot give marketer renewed visibility paid...,4,15,10,0.666667
2,This New Dating App Will Ruin Your Internet Game,this new dating app will ruin your internet game,this new dating app will ruin your internet game,this new dating app will ruin your internet game,this new dating app will ruin your internet game,new dating app ruin internet game,3,9,6,0.666667
3,Pay up or face legal action: DBKL,pay up or face legal action: dbkl,pay up or face legal action: dbkl,pay up or face legal action dbkl,pay up or face legal action dbkl,pay face legal action dbkl,2,7,5,0.714286
4,"Euro up; USD, Pound and Yen down","euro up; usd, pound and yen down","euro up; usd, pound and yen down",euro up usd pound and yen down,euro up usd pound and yen down,euro usd pound yen,3,7,4,0.571429
...,...,...,...,...,...,...,...,...,...,...
499995,YWP: Apples,ywp: apples,ywp: apples,ywp apples,ywp apple,ywp apple,0,2,2,1.000000
499996,Microsoft Corporation's Latest Android App Cou...,microsoft corporation's latest android app cou...,microsoft corporation is latest android app co...,microsoft corporation is latest android app co...,microsoft corporation is latest android app co...,microsoft corporation latest android app could...,4,11,7,0.636364
499997,Crumbs! Use your loaf and save dough by recycl...,crumbs! use your loaf and save dough by recycl...,crumbs! use your loaf and save dough by recycl...,crumbs use your loaf and save dough by recycli...,crumb use your loaf and save dough by recyclin...,crumb use loaf save dough recycling bread say ...,3,13,10,0.769231
499998,New Living Wage 'to benefit one-in-three worki...,new living wage 'to benefit one-in-three worki...,new living wage noto benefit one-in-three wor...,new living wage noto benefit oneinthree worki...,new living wage noto benefit oneinthree workin...,new living wage noto benefit oneinthree workin...,0,8,8,1.000000
499999,"Amy Kass, Inspirational Teacher Who Treasured ...","amy kass, inspirational teacher who treasured ...","amy kass, inspirational teacher who treasured ...",amy kass inspirational teacher who treasured a...,amy ka inspirational teacher who treasured a h...,amy ka inspirational teacher treasured humanis...,2,11,9,0.818182

The table above summarizes much of the data that will be used for the calculations below. The dictionary column is the original text and the subsequent 5 columns display the text changes after applying the normalization technique in the title. The lemmatized text was used for the calculations below.

In [24]:
calcStats(df_headlines)

Total Paragraphs: 500000
Total Words: 4587539
Total Unique Words: 3512166
500th Most Frequent Word: agreement, # of times Seen: 1320
1000th Most Frequent Word: grow, # of times Seen: 5295
5000th Most Frequent Word: surrender, # of times Seen: 127

In [25]:
df_head_freq = frequentWords(df_headlines)

In [26]:
df_head_100 = df_head_freq.head(100)

with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print("Top 100 Most Frequent Words: ")
    print(df_head_100)

Top 100 Most Frequent Words:
         Word  Document_Frequency  Word_Count
0          to              109786    118824.0
1          in               83834     88373.0
2         the               72269     83558.0
3          of               70060     76129.0
4         for               65773     67595.0
5          is               56690     61706.0
6         and               51216     55417.0
7           a               49498     54744.0
8          on               40822     41841.0
9        with               31320     31812.0
10         at               31141     31640.0
11        new               26321     26830.0
12       2015               20555     20903.0
13         by               16766     17339.0
14       from               16021     16160.0
15      after               12922     12967.0
16          u               11875     12001.0
17         it               11673     12132.0
18     market               11374     13187.0
19        not               10430     10635.0
20       over                9803      9846.0
21        say                9640      9681.0
22         be                9184      9280.0
23         up                9000      9101.0
24       will                8713      8798.0
25  announces                8376      8381.0
26     global                8018      8109.0
27        man                7738      7815.0
28     report                7648      7787.0
29        day                7622      7754.0
30       more                7488      7590.0
31        you                7417      7962.0
32        out                7289      7338.0
33        are                7283      7419.0
34  september                7140      7192.0
35      first                7078      7127.0
36       your                7069      7368.0
37      world                7002      7108.0
38        get                6771      6813.0
39       year                6701      6787.0
40        how                6699      6742.0
41        win                6437      6479.0
42     police                6436      6487.0
43       this                6385      6441.0
44       week                5951      6048.0
45      woman                5791      5932.0
46       open                5699      5732.0
47     launch                5697      5707.0
48      about                5675      5730.0
49      video                5455      5523.0
50    service                5388      5505.0
51     school                5375      5531.0
52       show                5368      5444.0
53      state                5341      5465.0
54       home                5339      5444.0
55        top                5174      5228.0
56        can                5154      5210.0
57       make                5141      5157.0
58      share                5133      5242.0
59         ha                5001      5043.0
60   business                4986      5131.0
61       that                4965      5024.0
62       back                4924      4961.0
63      china                4886      4987.0
64         an                4882      4942.0
65       take                4832      4836.0
66         no                4781      4994.0
67       what                4778      4845.0
68       into                4759      4770.0
69      group                4753      4841.0
70        one                4719      4864.0
71       time                4702      4777.0
72          2                4681      4761.0
73    against                4647      4662.0
74       city                4588      4702.0
75     review                4567      4592.0
76   industry                4562      4614.0
77        off                4562      4625.0
78      stock                4556      4616.0
79       have                4535      4594.0
80        set                4516      4531.0
81        inc                4473      5038.0
82       game                4446      4536.0
83        his                4391      4523.0
84    company                4375      4434.0
85       help                4325      4360.0
86        who                4312      4433.0
87       plan                4238      4275.0
88       fall                4234      4252.0
89   research                4141      4246.0
90       call                4123      4143.0
91       best                4103      4172.0
92        two                4081      4137.0
93        now                4047      4063.0
94    million                4046      4103.0
95     update                3979      3990.0
96    refugee                3897      3938.0
97         10                3883      3916.0
98          1                3873      3965.0
99          i                3829      4240.0

In [27]:
filtered_df2 = documentFreq(df_head_freq, 1)

with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(f'Number of words with a document frequency of one: {len(filtered_df2)}')
    print("")
    print(f' 100 words with a document frequency of one: ')
    print(filtered_df2.head(100))

Number of words with a document frequency of one: 85192

 100 words with a document frequency of one:
                      Word  Document_Frequency  Word_Count
80310            prajapati                   1         1.0
80311              dinos22                   1         1.0
80312              rmb400m                   1         1.0
80313            clamoring                   1         1.0
80314              reporoa                   1         1.0
80315             brazoria                   1         1.0
80316                  x5r                   1         1.0
80317                 terk                   1         1.0
80318              kilcock                   1         1.0
80319             firstgen                   1         1.0
80320            pulsatile                   1         1.0
80321             soccerfa                   1         1.0
80322            walkabout                   1         1.0
80323              macnica                   1         1.0
80324          morgansmith                   1         1.0
80325               sivaji                   1         1.0
80326                ladwp                   1         1.0
80327                  t19                   1         1.0
80328              jagaurs                   1         1.0
80329          spearheaded                   1         1.0
80330           0001059142                   1         1.0
80331              sigmoid                   1         1.0
80332              ttanmai                   1         1.0
80333       octoberdefence                   1         1.0
80334                  k43                   1         1.0
80335           kishanganj                   1         1.0
80336                 awai                   1         1.0
80337                saing                   1         1.0
80338             arborist                   1         1.0
80339           stakelbeck                   1         1.0
80340             ameeting                   1         1.0
80341           vinography                   1         1.0
80342            whirlaway                   1         1.0
80343         jammukashmir                   1         1.0
80344              piebald                   1         1.0
80345              maisano                   1         1.0
80346            morrilton                   1         1.0
80347              chaebol                   1         1.0
80348                viger                   1         1.0
80349                ffanx                   1         1.0
80350            vivacious                   1         1.0
80351              allyson                   1         1.0
80352         diverticulum                   1         1.0
80353                  lky                   1         1.0
80354             paeffgen                   1         1.0
80355          vasconcelos                   1         1.0
80356               danshi                   1         1.0
80357                owasi                   1         1.0
80358         arcticuswill                   1         1.0
80359                 wera                   1         1.0
80360                  mrr                   1         1.0
80361          thoughtsvas                   1         1.0
80362            insideepa                   1         1.0
80363               seylan                   1         1.0
80364                  rcw                   1         1.0
80365             falconry                   1         1.0
80366                4door                   1         1.0
80367             blackett                   1         1.0
80368                bnmda                   1         1.0
80369  workspaceasaservice                   1         1.0
80370             edgelits                   1         1.0
80371         backtoscotus                   1         1.0
80372              lichter                   1         1.0
80373           commoncore                   1         1.0
80374            northline                   1         1.0
80375                 keio                   1         1.0
80376        leadershoping                   1         1.0
80377               maitua                   1         1.0
80378           luminarium                   1         1.0
80379              aregret                   1         1.0
80380              puentes                   1         1.0
80381               vitolo                   1         1.0
80382             19452015                   1         1.0
80383              exhubby                   1         1.0
80384                rafay                   1         1.0
80385        melgarcabrera                   1         1.0
80386      albuquerquearea                   1         1.0
80387            queenston                   1         1.0
80388                  rdx                   1         1.0
80389                perng                   1         1.0
80390               pcfast                   1         1.0
80391              kahraba                   1         1.0
80392             reverted                   1         1.0
80393               firmed                   1         1.0
80394             netanyau                   1         1.0
80395        interviewbank                   1         1.0
80396                dhami                   1         1.0
80397   chromatographyhplc                   1         1.0
80398           entrenches                   1         1.0
80399                  aea                   1         1.0
80400               faerie                   1         1.0
80401           condfident                   1         1.0
80402       chamberbeijing                   1         1.0
80403              garnero                   1         1.0
80404               elvera                   1         1.0
80405           powertheft                   1         1.0
80406           fliplifetv                   1         1.0
80407               120600                   1         1.0
80408           ponderings                   1         1.0
80409     diphenylprolinol                   1         1.0

### Summary and Write-Up

(a) Describe how you normalized the text and determined what a word is

The text was normalized first making all the words lowercase, substituting the contractions for the full word group, removing any punctuations and lemmatizing the text using the NLTK WordNetLemmatizer. Multiple columns of preprocessed data output displays how the text changes with each normalization step.  The remaining text was tokenized and each token was considered a word. 

Additional methods could have been stemming as well as substituting numbers for the written words.  
I attempted stemming using the PorterStemmmer however it resulting in overstemming where much of the words were cut off. Although stop words were not removed for this assignment, a column of the text after removing the stopwords were displayed.  Stop words could have been removed be as well as other very common words such as "when", "get", or "with" to allow for more important words to be in our dictionary.

(b) summarize any similarities and differences in the top-100 terms from Yelp and Headlines

Similarities:
<br>
Since stopwords weren't removed, both datasets had stopwords such as "the", "and", "to", as well as others in the top 100 most frequent words. Most of the words included in the top 100 terms also were words of a shorter length.  Also, both lists of words included terms that were not complete words such as "ha" in Headlines and "col" in in Yelp.

Differences:
<br>
The top words in Yelp appear to be more food related such as "food", "restaurant", "ordered", "chicken", as well as other words. Also the Yelp terms, since they are from reviews, are more descriptive words.  However, the top words in Headlines include more numbers and more nouns.